option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: "5020"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POLYGON_WS_LIVE_ENABLED
    value: "true"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POLYGON_SUBGRAPH_BACKFILL_ENABLED
    value: "true"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POLYGON_SUBGRAPH_BACKFILL_INTERVAL_MS
    value: "20000"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POLYGON_SUBGRAPH_PAGE_SIZE
    value: "1000"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POLYGON_SUBGRAPH_MIN_TIMESTAMP
    value: "1773446400"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: POLYMARKET_MARKETS_INTERVAL_MS
    value: "600000"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBIT_HOST
    value: "b-840becf0-9b0d-4c56-b23b-0cda16f58c35.mq.eu-west-1.on.aws"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBIT_PORT
    value: "5671"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBIT_USER
    value: "admin"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBIT_VHOST
    value: "/"